body {
    margin: 0;
    background-color: #A5F0C5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

#info-panel {
    font-size: 135%;
    display: inline-block;
    vertical-align: middle;
}

#btn-panel1 {
    float: right;
    margin: 40px;
    align-content: center;
}

#btn-panel2 {
    display: none;
    float: right;
    margin: 15px;
    align-content: center;
    vertical-align: middle;
}

#edit-info {
    display: none
}

#end-break-btn {
    display: none;
}

.btn-style {
    background-color: #93D6B0;
    border: solid black 2px;
    padding: 3px 5px;
    font-size: 100%;
    width: 10vw;
    height: 5vh;
    margin: 10px;
    border-radius: 5px;
}

.btn-style:hover {
    background-color: #93d6b0a1;
}

.banner {
    width: 100vw;
    background-color: #06373A;
    text-align: center;
    font-size: 200%;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.info {
    /* height: max(25vh); */
    background-color: #159947;
    padding: 25px;
    margin-top: 2vh; 
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border: 1px solid black;
    border-radius: 30px;
    color: white;
}

.info-2 ul {
    list-style-type: none;
}

.info-2 { 
    font-size: 150%;
    margin-top: 2vh;
    padding: 25px;
    width: 43vw;
    /* height: 35vh; */
    background-color: #159947;
    margin-left: 2.5vw;
    border: 1px solid black;
    border-radius: 30px;
    color: white;
    float: left;
}

.info-2 h2 {
    text-align: center;
}

.info-table {
    align-self: center;
    font-size: 125%;
    width: 100%;
}